*{
  margin: 8px;
  padding: 8px;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
}

th{
    background-color: rgb(49, 247, 148);
}

tr:nth-child(even) {
  background-color: #dddddd;
}